onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=sharp
