onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=react-native
onlyBuiltDependencies[]=hermes-compiler
onlyBuiltDependencies[]=@shopify/react-native-skia
onlyBuiltDependencies[]=unrs-resolver
